# --- CORE PROCESSING & UTILITIES ---
pyyaml>=6.0
boto3>=1.34.0

# --- MACHINE LEARNING INFERENCE ---(removed torch dependency to avoid overwriting the CPU version installed in Dockerfile)
transformers>=4.30.0
sentencepiece>=0.1.99
tiktoken>=0.4.0
datasets>=2.12.0

# --- SERVING LAYER, TELEMETRY & UI ---
fastapi>=0.110.0
pydantic>=2.6.0
uvicorn[standard]>=0.28.0
prometheus-fastapi-instrumentator>=7.0.0
streamlit>=1.30.0
requests>=2.31.0
